*{
    box-sizing: border-box;
    margin: 0;
}
html{
    background-color: #82A9AB;
}
form{
    background-color: #EDF6F6;
    padding: 2.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 12.5vh;
}

.questionBox{
    background-color: #3B9287;
    height: 25vh;
    width: 37.5vw;
    padding: 2.5vh;
    margin-bottom: 2vh;

}
.leftSide .questionBox{
    margin-left: 2.5vw;

}
.rightSide .questionBox{
    margin-right: 2.5vw;

}

button{
    box-sizing: content-box;
    background-color: #37CE1E;
    height: 5vh;
    margin-left: 42.5vw;
    width: 15vw;
}

.heading{
    background-image: linear-gradient(to right, #3B9287,white);
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
    position: relative;
    top: 2.5vh;
}

.allContent{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:767px){
    .allContent{
        flex-direction: column;
        justify-content: space-around;
    }

}