*{
    box-sizing: border-box;
    margin: 0;
}
html{
    background-color: #82A9AB;
}
form{
    background-color: #EDF6F6;
}

.questionBox{
    background-color: #3B9287;
    height: 25vh;
    width: 25vw;

}

button{
    background-color: #37CE1E;
}

.heading{
    background-image: linear-gradient(to right, #3B9287,white);
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
}

.allContent{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:767px){
    .allContent{
        flex-direction: column;
    }

}